<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AsyncUsageAnalyzers" version="1.0.0-alpha003" targetFramework="net47" developmentDependency="true" />
  <package id="Microsoft.CSharp" version="4.4.0" targetFramework="net47" />
  <package id="Nancy" version="2.0.0-clinteastwood" targetFramework="net47" />
  <package id="Nancy.Hosting.Self" version="2.0.0-clinteastwood" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net47" />
  <package id="Serilog" version="2.7.1" targetFramework="net47" />
  <package id="Serilog.Sinks.Console" version="3.1.1" targetFramework="net47" />
  <package id="Serilog.Sinks.File" version="4.0.0" targetFramework="net47" />
  <package id="System.Configuration.ConfigurationManager" version="4.5.0" targetFramework="net47" />
  <package id="System.Security.AccessControl" version="4.5.0" targetFramework="net47" />
  <package id="System.Security.Permissions" version="4.5.0" targetFramework="net47" />
  <package id="System.Security.Principal.Windows" version="4.5.0" targetFramework="net47" />
  <package id="Topshelf" version="4.1.0" targetFramework="net47" />
  <package id="Topshelf.LibLog" version="1.2.0" targetFramework="net47" />
</packages>